[submodule "bundle/vam"]
	path = bundle/vam
	url = git@github.com:MarcWeber/vim-addon-manager.git
[submodule "bundle/Solarized"]
	path = bundle/Solarized
	url = git@github.com:altercation/vim-colors-solarized
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = git@github.com:tpope/vim-dispatch
[submodule "bundle/eregex"]
	path = bundle/eregex
	url = git@github.com:othree/eregex.vim
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git@github.com:tpope/vim-repeat
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go
[submodule "bundle/vim-pi"]
	path = bundle/vim-pi
	url = https://bitbucket.org/vimcommunity/vim-pi
[submodule "bundle/vim-toml"]
	path = bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = https://github.com/vim-scripts/xoria256.vim
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "bundle/salt-vim"]
	path = bundle/salt-vim
	url = https://github.com/saltstack/salt-vim
[submodule "bundle/vim-jinja"]
	path = bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja
[submodule "bundle/jq.vim"]
	path = bundle/jq.vim
	url = https://github.com/vito-c/jq.vim
[submodule "bundle/ansible-vim"]
	path = bundle/ansible-vim
	url = git@github.com:pearofducks/ansible-vim
	branch = master
