[submodule "bundle/vam"]
	path = bundle/vam
	url = git@github.com:MarcWeber/vim-addon-manager.git
[submodule "bundle/Solarized"]
	path = bundle/Solarized
	url = git@github.com:altercation/vim-colors-solarized
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = git@github.com:tpope/vim-dispatch
[submodule "bundle/eregex"]
	path = bundle/eregex
	url = git@github.com:othree/eregex.vim
[submodule "bundle/fireplace"]
	path = bundle/fireplace
	url = https://tpo.pe/vim/fireplace.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git@github.com:tpope/vim-repeat
[submodule "bundle/surround"]
	path = bundle/surround
	url = git@github.com:tpope/vim-surround
[submodule "bundle/vim-clojure-highlight"]
	path = bundle/vim-clojure-highlight
	url = git@github.com:guns/vim-clojure-highlight
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go
[submodule "bundle/vim-pi"]
	path = bundle/vim-pi
	url = https://bitbucket.org/vimcommunity/vim-pi
[submodule "bundle/vim-toml"]
	path = bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = https://github.com/vim-scripts/xoria256.vim
[submodule "bundle/jq"]
	path = bundle/jq
	url = https://github.com/vito-c/jq.vim
[submodule "bundle/jq.vim"]
	path = bundle/jq.vim
	url = https://github.com/vito-c/jq.vim
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
