[submodule "bundle/vam"]
	path = bundle/vam
	url = https://github.com/MarcWeber/vim-addon-manager.git
[submodule "bundle/vim-addon-manager-known-repositories"]
	path = bundle/vim-addon-manager-known-repositories
	url = https://github.com/MarcWeber/vim-addon-manager-known-repositories.git
